<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="bootstrap-4.1.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/vue.js"></script>
    <script src="assets/js/axios.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Urban Diary 後台</title>
</head>

<body>
    <!-- 上方選項列 -->
    <nav class="navbar navbar-expand-lg navbar-dark" id="navar_bg">
        <a class="navbar-brand" href="index.html"><img id="logo_pic" src="images/logo_light.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#"><img id="back_pic" src="assets/fonts/back_icon.png"><span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="user.html">Diary</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="diary_analysis.html">Analysis</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input id="search_input" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button id="search_btn" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <!-- 選項列end -->

    <div id="diary">
        <!-- 標題區塊 -->
        <div class="jumbotron text-center" id="title_bg">
            <h2>小茂 Urban Diary analysis</h2>
            <p>
                <h3>{{date}} 日記分析</h3>
            </p>
        </div>
        <!-- 標題區塊end -->

        <!-- 使用者日記分析 -->
        <div class="container-fluid">

            <div class="row" id="diary_analysis">

                <div class="col-sm-3">
                    <div id="diary_pic_div">
                        <img v-bind:src="'../assets/uploadfile/images/'+ filename">
                        <!-- v-bind:src="'/media/avatars/' + joke.avatar" -->
                    </div>
                </div>

                <div class="col-sm-8">
                    <div class="analysis_content">
                        <h3>日記內容</h3>
                        <hr>
                        <p>
                            {{content}}
                        </p>
                    </div>
                </div>

                <div class="col-sm-3"></div>

                <div class="col-sm-8">
                    <div class="analysis_content">
                        <span>
                            <h3>斷詞分析結果&nbsp;<a>&nbsp;(關鍵字)</a></h3>
                        </span>

                        <hr>
                        <p>
                            <ul id="keyword">
                                <template v-for="item in list">
                                    <li v-if="item=='喜歡' || item=='運動' || item=='讀書' || item=='男孩' || item=='拉麵' " style="background-color:#6a83b7">
                                        {{item}}
                                    </li>
                                    <li v-else> {{item}}</li>
                                </template>
                            </ul>
                            <ul id="keyword">
                                <template v-for="item in list_image">
                                    <li  style="background-color:#59B4C8">
                                        {{item}}
                                    </li>
                                </template>
                            </ul>
                        </p>
                    </div>
                </div>

                <div class="col-sm-3"></div>

                <div class="col-sm-8" id="last_board">
                    <div class="analysis_content">
                        <span>
                            <h3>配對待辦事項&nbsp;<a>&nbsp;(未來日記)</a></h3>
                        </span>
                        <hr>
                        <p>
                            <ul id="list" class="list_highlight">
                                <template v-if="index == 1">
                                    <!-- <li>
                                        <h5>背20個英文單字</h5><span>#讀書</span>
                                    </li>
                                    <li>
                                        <h5>讀書二小時</h5><span>#讀書</span>
                                    </li> -->
                                    <li>
                                        <h5>練投籃球100顆</h5><span>#運動</span>
                                    </li>
                                    <li>
                                        <h5>騎單車一小時</h5><span>#運動</span>
                                    </li>
                                    <li>
                                        <h5>伏地挺身50下</h5><span>#運動</span>
                                    </li>
                                    <li>
                                        <h5>自由式25公尺</h5><span>#運動</span>
                                    </li>
                                    <li>
                                        <h5>吃嘿．傑克</h5><span>#吃拉麵</span>
                                    </li>
                                    <li>
                                        <h5>吃九湯屋日本拉麵</h5><span>#吃拉麵</span>
                                    </li>
                                </template>
                                <template v-else>
                                    <li v-for="item in list_future">
                                        <h5>{{item.name}}</h5><span>#{{item.type}}</span>
                                    </li>
                                </template>
                            </ul>
                        </p>
                    </div>
                </div>

            </div>

        </div>
        <!-- 使用者日記列表end -->
    </div>

    <script>
        var vm;
        var strUrl = location.search;
        var getPara, ParaVal;
        var aryPara = [];
        window.onload = function () {
            vm = new Vue({
                el: '#diary',
                data: {
                    list: [],
                    list_image:[],
                    list_future: [
                    ],
                    list_eat:[
                        '嘿．傑克',
                        '九湯屋日本拉麵',
                        '原崎麵屋',
                        '五拉麵',
                        '麵屋Luna'
                    ],
                    list_sport: [
                        '球類運動',
                        '有氧運動',
                        '健康運動',
                        '競技運動',
                        '田徑運動',
                        '休閒運動',
                        '表演運動',
                    ],
                    //桌球
                    list_tabletennis: [
                        '正手發球30次',
                        '反手擊球50次',
                        '切球練習40次'
                    ],
                    //撞球
                    list_nineball: [
                        '推竿練習40次',
                        '拉竿練習50次',
                        '衝球練習20次'
                    ],
                    //排球
                    list_bolleyball: [
                        '高手發球30次',
                        '低手發球20次',
                        '舉球練習50次'
                    ],
                    //網球
                    list_tennis: [
                        '對牆擊球30次',
                        '發球練習50次',
                        '對打練習30分鐘'
                    ],
                    //足球
                    list_soccer: [
                        '盤球練習30分鐘',
                        '射門練習50顆',
                        '帶球繞場20分鐘'
                    ],
                    //羽毛球
                    list_badminton: [
                        '正手發球50顆',
                        '反手發球50顆',
                        '對打練習30分鐘'
                    ],
                    //藍球
                    list_basketball: [
                        '練投罰球50顆',
                        '練投三分球50顆',
                        '運球練習30分鐘'
                    ],
                    //高爾夫球
                    list_golf: [
                        '推竿練習20分鐘',
                        '揮竿練習20分鐘'
                    ],
                    //躲避球
                    list_dodgeball: [
                        '投準練習30分鐘',
                        '接球練習30分鐘',
                        '折返跑3圈'
                    ],
                    //橄欖球
                    list_football: [
                        '投準練習30分鐘',
                        '接球練習30分鐘',
                        '折返跑3圈'
                    ],
                    list_study: [
                        '練習習題30題',
                        '上機練習20分鐘',
                        '背英文單字15個'
                    ],
                    list_sport_time: [
                        '45分鐘',
                        '30分鐘',
                        '1小時',
                        '1 小時 45分鐘',
                        '1小時 30分鐘',
                    ],
                    date: "",
                    index: "",
                    content: "",
                    filename:""
                },
                methods: {
                    diary: function () {
                        var getjson = JSON.parse(getURL());
                        axios({
                            method: "post",
                            url: "./api/mongo_diary_api.php",
                            data: {
                                diary: getjson.diary
                            }
                        })
                            .then(function (response) {
                                var data = response.data
                                vm.date = data[0]['date']
                                vm.content = data[0]['content']
                                //console.log(response.data);
                            })
                            .catch(function (error) {
                                console.log(error);
                            });
                    },
                    diary_image: function () {
                        var getjson = JSON.parse(getURL());
                        axios({
                            method: "post",
                            url: "./api/mongo_image_api.php",
                            data: {
                                diary: getjson.diary
                            }
                        })
                            .then(function (response) {
                                var data = response.data;
                                var array_words_image = data[0]['resault']['result']['tags'];
                                // var resault_json = JSON.parse([0]['resault'])
                                // console.log("filename: " + data[0]['filename']);
                                vm.filename = data[0]['filename']
                                // list_image
                                
                                for (var k = 0; k < array_words_image.length; k++) {
                                    // for (var i = 0; i < (data[k]['word'].split(",")).length; i++) {
                                        vm.list_image.push(array_words_image[k]['tag']['zh_cht'])
                                    // }
                                }
                                // console.log(data[0]['resault']['result']['tags'][0]['tag']['zh_cht']);
                                // console.log(data[0]['resault']['result']['tags']);
                                console.log(vm.list_image)
                            })
                            .catch(function (error) {
                                console.log(error);
                            });
                    },
                    word: function () {
                        var getjson = JSON.parse(getURL());
                        vm.index = getjson.index;
                        axios({
                            method: "post",
                            url: "./api/mongo_word_api.php",
                            data: {
                                diary: getjson.diary
                            }
                        })
                            .then(function (response) {
                                var data = response.data
                                var count_split = 0;
                                var con_Jieba = "";

                                for (var k = 0; k < data.length; k++) {
                                    for (var i = 0; i < (data[k]['word'].split(",")).length; i++) {
                                        vm.list.push(data[k]['word'].split(",")[i])
                                    }
                                }
                                for (var t = 0; t < vm.list.length; t++) {
                                    if (vm.list[t] == "拉麵") {
                                        var ran_sport = Math.floor(Math.random() * ((vm.list_eat.length - 1) - 2 + 1)) + 2;
                                        vm.list_future.push({ name: "吃" + vm.list_eat[0], type: "拉麵" });
                                        vm.list_future.push({
                                            name: "吃" + vm.list_eat[1],
                                            type: "拉麵"
                                        });
                                        vm.list_future.push({
                                            name: "吃" + vm.list_eat[2],
                                            type: "拉麵"
                                        });
                                    }
                                    else if (vm.list[t] == "運動") {
                                        var ran_sport = Math.floor(Math.random() * ((vm.list_sport.length - 1) - 2 + 1)) + 2;
                                        var ran_sport_time = Math.floor(Math.random() * ((vm.list_sport_time.length - 1) - 2 + 1)) + 2
                                        vm.list_future.push({ name: "練習" + vm.list_sport[0] + vm.list_sport_time[0], type: "運動" });
                                        vm.list_future.push({
                                            name: "練習" + vm.list_sport[ran_sport] + vm.list_sport_time[ran_sport_time],
                                            type: "運動"
                                        });
                                    } else if (vm.list[t] == "讀書") {
                                        vm.list_future.push({ name: vm.list_study[0], type: "讀書" });
                                        vm.list_future.push({ name: vm.list_study[1], type: "讀書" });
                                    }
                                    else if (vm.list[t] == "桌球") {
                                        var ran_sport = Math.floor(Math.random() * ((vm.list_tabletennis.length - 1) - 2 + 1)) + 2;
                                        vm.list_future.push({ name: vm.list_tabletennis[0], type: "桌球" });
                                        vm.list_future.push({ name: vm.list_tabletennis[ran_sport], type: "桌球" });
                                    }
                                    else if (vm.list[t] == "撞球") {
                                        var ran_sport = Math.floor(Math.random() * ((vm.list_nineball.length - 1) - 2 + 1)) + 2;
                                        vm.list_future.push({ name: vm.list_nineball[0], type: "撞球" });
                                        vm.list_future.push({ name: vm.list_nineball[ran_sport], type: "撞球" });
                                    }
                                    else if (vm.list[t] == "排球") {
                                        var ran_sport = Math.floor(Math.random() * ((vm.list_bolleyball.length - 1) - 2 + 1)) + 2;
                                        vm.list_future.push({ name: vm.list_bolleyball[0], type: "排球" });
                                        vm.list_future.push({ name: vm.list_bolleyball[ran_sport], type: "排球" });
                                    }

                                    else if (vm.list[t] == "網球") {
                                        var ran_sport = Math.floor(Math.random() * ((vm.list_tennis.length - 1) - 2 + 1)) + 2;
                                        vm.list_future.push({ name: vm.list_tennis[0], type: "網球" });
                                        vm.list_future.push({ name: vm.list_tennis[ran_sport], type: "網球" });
                                    }
                                    else if (vm.list[t] == "足球") {
                                        var ran_sport = Math.floor(Math.random() * ((vm.list_soccer.length - 1) - 2 + 1)) + 2;
                                        vm.list_future.push({ name: vm.list_soccer[0], type: "足球" });
                                        vm.list_future.push({ name: vm.list_soccer[ran_sport], type: "足球" });
                                    }
                                    else if (vm.list[t] == "羽毛球") {
                                        var ran_sport = Math.floor(Math.random() * ((vm.list_badminton.length - 1) - 2 + 1)) + 2;
                                        vm.list_future.push({ name: vm.list_badminton[0], type: "羽毛球" });
                                        vm.list_future.push({ name: vm.list_badminton[ran_sport], type: "羽毛球" });
                                    }
                                    else if (vm.list[t] == "籃球") {
                                        var ran_sport = Math.floor(Math.random() * ((vm.list_basketball.length - 1) - 2 + 1)) + 2;
                                        vm.list_future.push({ name: vm.list_basketball[0], type: "籃球" });
                                        vm.list_future.push({ name: vm.list_basketball[ran_sport], type: "籃球" });
                                    }
                                    else if (vm.list[t] == "高爾夫球") {
                                        vm.list_future.push({ name: vm.list_golf[0], type: "高爾夫球" });
                                        vm.list_future.push({ name: vm.list_golf[1], type: "高爾夫球" });
                                    }
                                    else if (vm.list[t] == "躲避球") {
                                        var ran_sport = Math.floor(Math.random() * ((vm.list_dodgeball.length - 1) - 2 + 1)) + 2;
                                        vm.list_future.push({ name: vm.list_dodgeball[0], type: "躲避球" });
                                        vm.list_future.push({ name: vm.list_dodgeball[ran_sport], type: "躲避球" });
                                    }
                                    else if (vm.list[t] == "橄欖球") {
                                        var ran_sport = Math.floor(Math.random() * ((vm.list_football.length - 1) - 2 + 1)) + 2;
                                        vm.list_future.push({ name: vm.list_football[0], type: "橄欖球" });
                                        vm.list_future.push({ name: vm.list_football[ran_sport], type: "橄欖球" });
                                    }
                                }
                            })
                            .catch(function (error) {
                                console.log(error);
                            });
                    },
                }
            })
            vm.diary();
            vm.word();
            vm.diary_image();
        }
        function getURL() {
            id_student = "";
            if (strUrl.indexOf("?") != -1) {
                var getSearch = strUrl.split("?");
                getPara = getSearch[1].split("&");
                for (i = 0; i < getPara.length; i++) {
                    ParaVal = getPara[i].split("=");
                    aryPara.push(ParaVal[0]);
                    aryPara[ParaVal[0]] = ParaVal[1];
                }
            }
            pos = {
                diary: aryPara['diary'],
                index: aryPara['index']
            };
            return JSON.stringify(pos);
        }
    </script>
</body>